html {
    padding: 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


nav {
    text-align: center;
    margin-top: 60px ;
 }
 
ul {
     display: inline-flex;
     list-style-type: none;
     margin: 0;
     padding: 0;
     text-align: center;
 }
 
li {
    margin: 0 1px;
    display: inline-flex;
 }
 
li a {
     display: inline-flex;
     color: grey;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 15px;
 }
 
nav a:hover {
     background-color: lightgrey;
     color: grey;
     font-weight: bolder;
 }
 
.active {
     background-color: pink;
     
}

#logo {
    float: left;
    margin-top: 30px;
    width: 100px;
}
#anfang {
    color: grey;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h1 {
    color: grey;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
}

h2 {
    color: grey;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

h2 ~ p  {
    font-weight: bold;
}


h3{
    color: grey;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;   
}

h3 + p {
    font-weight: bolder;
}


#titelbild {
    width: 600px;
    height: 600px;
    margin-bottom: 80px;
}

#icons {
    list-style: none;
    align-items: center;
    margin-top: 10px;
    display: inline-flex;
}

#wagen {
    margin:0px;
    width: 16px;
    height: 16px;
}

#warenkorbZaehler {
    margin-left: -15px;
    font-weight:bold;
    color:grey;
    height:20px;
}

div> img {
    margin-top: 20px;
    width: 300px;
    height: 250px;
}

p {
    color: grey;
}


.preis {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
}


#Überschrift {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
    text-align: center;
}


button { 
    background-color: pink;
    border: pink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
    color: grey;
}

button:hover {
    color: grey;
    font-weight: bolder; 
}

#warenkorbUeberschrift {
    margin-top:10px;
    margin-left: 200px;
    float: left;
  
}

#gesamtsumme{
    font-size: 15px;
    font-weight: bold;
}

.artikelListe {
    align-items: center;
    display: inline-grid;
    position: center;
}



/* Desktop */
@media screen  and (min-width:1024px) {
    nav {
        justify-content: space-between;
        display: inline-flex;
    }

    div button {
        padding: 5px 7.5px;
    }

    #titelbild {
        width: 800px;
    }


   #logo {
       float: left;
       margin-top: 30px;
       width: 100px;
   }
}

/* IPad */

@media screen  and (min-width: 600px) and (max-width:1024px) {
    nav {
        justify-content: space-between;
        display: inline-flex;
    }

    div button {
        padding: 5px 7.5px;
    
    }

    div >img {
        width: 300px;
    }

   
   #logo {
       float: left;
       margin-top: 30px;
       width: 100px;
   }

   #titelbild {
    width: 600px;

}


/* Smartphones*/

 @media screen and (max-width: 600px) {
        nav {
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        div button {
            padding: 5px 7.5px;
        }
    
        div >img {
            width: 200px;
            height: 200px;
        }
        
      
        #logo {
            width: 80px;
            margin-top: -10px;
        }

        #titelbild {
            width: 300px;
        }
    
    }
}