html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#button1 {
    border-radius: 1px solid grey;
    background-color: grey;
    margin-top: 20px;
    border-color: grey;
    color: white;
}

#button2 {
    border-radius: 1px solid grey;
    background-color: grey;
    margin-top: 20px;
    border-color: grey;
    color: white;
}

h1 {
    color: grey;
}
