html {
    background-color: gainsboro;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
}


nav {
    text-align: center;
    margin-top: 60px ;
 }
 
ul {
     display: inline-flex;
     list-style-type: none;
     margin: 0;
     padding: 0;
     text-align: center;
 }
 
li {
    margin: 0 1px;
    display: inline-flex;
 }
 
li a {
     display: inline-flex;
     color: grey;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 
nav a:hover {
     background-color: lightgrey;
     color: grey;
     font-weight: bolder;
 }
 
.active {
     background-color: pink;
     
}

#logo {
    float: left;
    margin-top: 30px;
    width: 100px;
}

div p {
    color: grey;
}

h1 {
    color: grey;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
}

h2 {
    color: grey;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h2 ~ p  {
    font-weight: bold;
}


h3{
    color: grey;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
}

h3 + p {
    font-weight: bolder;
}


#titelbild {
    width: 50%;
    margin-bottom: 50px;
}

div button:hover {
    color: grey;
    font-weight: bolder; 
}

#icons {
    list-style: none;
    align-items: center;
    margin-top: 30px;
    display: inline-flex;
}

#wagen {
    margin:0px;
    width: 16px;
    height: 16px;
}

#blase {
    background-color: grey;
    border-radius: 60%;
    margin-top: 10px;
    width: 25px;
    height: 25px;
    margin-left: -25px;
}


.produkte div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
 }


div >img {
    width: 400px;
    height:300px;
}

div p {
    color: grey;
}


.preis {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
}


#Überschrift {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
    text-align: center;
}


div button {
    background-color: pink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
    color: grey;
}

div button:hover {
    color: grey;
    font-weight: bolder; 
}


/* Tablet*/

@media all and (min-width: 600px) {
    nav {
        justify-content: space-evenly;
        display: inline-flex;
     }


}

/* Smartphones*/

 @media all and (max-width: 600px) {
        nav{
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        #logo {
            margin-top: -30px;
        }
}    