html {
    background-color: gainsboro;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
}


nav {
    text-align: center;
    margin-top: 60px;
 }
 
ul {
     display: inline-flex;
     list-style-type: none;
     margin: 0;
     padding: 0;
     text-align: center;
 }
 
li {
    margin: 0 1px;
    display: inline-flex;
 }
 
li a {
     display: inline-flex;
     color: grey;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 
nav a:hover {
     background-color: lightgrey;
     color: grey;
     font-weight: bolder;
 }
 
.active {
     background-color: pink;
     
}

#logo {
        float: left;
        margin-top: 30px;
        width: 100px;
    }
    

.zubehör div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
 
}

 div >img {
    width: 400px;
    height: 300px;
}

div p {
    color: grey;
}

h3{
        color: grey;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        
    }

    h3 + p {
        font-weight: bolder;
    }

.preis {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
}


#Überschrift {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
    text-align: center;
}


div button {
    background-color: pink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
    color:grey;
}

div button:hover {
    color: grey;
    font-weight: bolder; 
}


#icons {
    list-style: none;
    align-items: center;
    margin-top: 30px;
    display: inline-flex;
}

#wagen {
    margin:0px;
    width: 16px;
    height: 16px;
}

/* Tablet*/

@media all and (min-width: 600px) {
    nav {
        justify-content: space-evenly;
        display: inline-flex;
    }

    div button {
        padding: 5px 7.5px;
    
    }

    div >img {
        width: 400px;
        height: 300px ;
    }
}

        
/* Smartphones*/

@media all and (max-width: 600px) {
    nav{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    div button {
        padding: 5px 7.5px;
    }

    div >img {
        width: 300px;
    }
    
    #logo {
        margin-top: -30px;
    }
}


